body{

    font-family: 'Poppins', sans-serif;
    margin: 0%;
}

.section-1{
    display: flex;
     
}
.section-1-div{
    width: 50%;
    padding: 5%;
    margin-top: 0px;
    
}
section-1-div img{
    width: 20%;
}

.orange-color{
    color: rgba(227, 53, 30, 0.762);
}


.order-food-button{
    
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    color: white;
    padding: 10px 40px;
    font-weight: 70px;
    border-radius: 25px;

}
.secnd-section{
    display: flex;
    background-image: url(images/banner.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
}
.secnd-section-div{
    width: 50%;
    padding: 5%;
}
.secnd-section-div p{
    font-size: 14px;
}
.secnd-section-div img{
    width: 80%;
}

.trd-section-div-one{
    text-align: center;
}
.trd-section-div-one p{
    font-size: 14px;
}

.food-div-father{
    display: flex;
    padding: 20px;
}
.food-div{
    margin-left: 3%;
    margin-right: 3%;
    box-shadow: 5px 5px 15px gray;
    border-radius: 15px;
}
.food-padding{
    margin-top: -45px;
    padding: 5%;
}
.food-padding p{
    font-size: 13px;
}
.food-div img{
    width: 90%;
    padding: 5%;
}

.food-socil-follower{
    display: flex;
    padding-left: 8%;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 7%;
    height: 200px;
    border-radius: 15px;
    box-shadow: 4px 4px 5px 5px #161515;
    margin-bottom: 50px;
}
.all-socile{
    margin: 5% 5%;
    margin-left: 10%;
    text-align: center;
}

footer{
    background-color: rgba(112, 89, 89, 0.468);
    height: 130px;
    text-align: center;
}

footer p{
    font-size: 13px;
    color: rgba(255, 255, 255, 0.654);
}
.footer-eat{
    color: orangered;
}
.footer-fresh{
    color: #808080a4;
}